<div class="userInfo">
  {{#if user}}
    <a href="/">Home</a>
    <h3>{{user.displayName}}</h3>
    <a href="/account">Account</a>
    <a href="/signout">Log Out</a>
  {{else}}
    <a href="/">Home</a>
    <a href="/signin">Log In</a></button>
  {{/if}}
</div>